body {
  background: #e6f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* CONTENEDOR PRINCIPAL */
.envelope {
  position: relative;
  width: 400px;
  height: 320px;
}

/* TRIÁNGULO SUPERIOR */
.flap-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;

  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
  border-bottom: 100px solid #f5dc57;

  z-index: 5;
}

/* TRIÁNGULO IZQUIERDO */
.left-triangle {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 0;

  border-top: 160px solid transparent;
  border-right: 200px solid #f5dc57;

  z-index: 2;
}

/* TRIÁNGULO DERECHO */
.right-triangle {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 0;
  height: 0;

  border-top: 160px solid transparent;
  border-left: 200px solid #f5dc57;

  z-index: 2;
}

/* RECTÁNGULO CENTRAL */
.base {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 160px;
  background: #f5dc57;
  border: 2px solid black;
  z-index: 3;
}

/* ESTRELLA */
.star {
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  z-index: 6;
}

/* CARTA */
.letter {
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 120px;
  background: white;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 0.4s ease;

  z-index: 4;
}

/* ESTADO ABIERTO */
.envelope.open .letter {
  opacity: 1;
  bottom: 190px;
}

.envelope.open .flap-top {
  transform: translateX(-50%) rotateX(180deg);
  top: -50px;
}

